a:link {
  color: #99b9b7;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #df8a40;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #bf521e;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #29363d;
  background-color: transparent;
  text-decoration: underline;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.icon {
  height: 14px;
  width: 14px;
  margin-right: 5px;
}

body {
  background-color: #efebe0;
  max-width: 1200px;
  margin: 0 auto;
}

dt {
  font-size: medium;
  font-weight: bold;
}

h1 {
  text-align: center;
}

.video-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  max-width: 40%;
}

/* article {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
} */

.clickable-article {
  display: block;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 20px auto;
  color: inherit;
  text-decoration: none;
}

.clickable-article:hover {
  background-color: #f9f9f92a;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar a {
  text-decoration: none;
  margin: 0 15px;
}

.navbar a:hover {
  text-decoration: underline;
}

.home-img {
  width: 40%;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

html,
body {
  overflow: auto; /* Ensure scrolling is enabled */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer 10+ */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}

.pixel-art {
  image-rendering: pixelated; /* Ensures crisp edges */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: crisp-edges; /* Standard */
}
